/* =========================
   VARIÁVEIS
========================= */
:root{
    --cor-principal:#4f83b5;
    --cor-menu:#a1c9e0;
    --cor-hover:#8bb8d3;
    --cor-texto:#1e3855;
    --cor-fundo:#f5f8fb;
}

/* =========================
   RESET
========================= */
*{
    margin:0;
    padding:0;
    box-sizing:border-box;
}

/* =========================
   BODY
========================= */
body{
    font-family:'Poppins',sans-serif;
    background:var(--cor-fundo);
}

/* =========================
   MENU
========================= */
nav{
    position:fixed;
    left:0;
    top:0;
    width:220px;
    height:100vh;
    background:var(--cor-menu);
    box-shadow:2px 0 10px rgba(0,0,0,.15);
}

.logo{
    text-align:center;
    padding:30px 15px;
}

.logo img{
    width:70px;
    border-radius:50%;
}

.logo h1{
    color:var(--cor-texto);
    margin-top:10px;
}

nav ul{
    list-style:none;
}

nav a{
    display:block;
    text-decoration:none;
    color:var(--cor-texto);
    padding:16px 20px;
    font-weight:600;
    transition:.3s;
    border-left:5px solid transparent;
}

nav a:hover{
    background:var(--cor-hover);
    padding-left:30px;
}

nav a.ativo{
    background:var(--cor-principal);
    color:white;
    border-left:5px solid white;
}

/* =========================
   HEADER
========================= */
header{
    margin-left:220px;
    background:white;
    padding:20px 40px;
    box-shadow:0 2px 8px rgba(0,0,0,.08);
}

header h2{
    color:var(--cor-principal);
}

/* =========================
   MAIN
========================= */
main{
    margin-left:220px;
    padding:40px;
    min-height:70vh;
}

/* =========================
   FOOTER
========================= */
footer{
    margin-left:220px;
    background:var(--cor-principal);
    color:white;
    text-align:center;
    padding:20px;
}

/*  conteudo do index */
.hero {
    text-align: center;
    margin-bottom: 40px;
}

.cards {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
}

.cards article {
    background: white;
    padding: 20px;
    border-radius: 10px;
}

.destaque {
    margin-top: 40px;
    padding: 20px;
    background: #a1c9e0;
    border-radius: 10px;
}
